.idea/workspace.xml
.env
test.py
venv
/.idea/dataSources.xml
/.idea/Matrix-Lab-Server.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/csv_files/analyzed_csv_files/*.csv
/csv_files/department_analysis_csv_files/*.csv
/csv_files/professor_analysis_csv_files/*.csv