.idea/workspace.xml
.env
/test
test.py
venv
/.idea/dataSources.xml
/.idea/Matrix-Lab-Server.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
