flask
flask-bcrypt
flask-cors
flask-session
flask-mail
mysql-connector-python
redis
tensorflow
pyjwt[crypto]
pytz
python-dateutil
ua-parser
python-dotenv
werkzeug
Flask-SQLAlchemy
SQLAlchemy-Utils
pyotp
pandas
wordcloud
nltk
scikit-learn
textblob
seaborn
matplotlib
openpyxl
